<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="content">
        <form action="/save" method="post">
            <input type="text" name="id" placeholder="Nhập ID">
            <br>
            <input type="text" name="name" placeholder="Nhập tên môn học">
            <br>
            <input type="text" name="course_type" placeholder="Nhập loại môn học">
            <br>
            <input type="text" name="semester" placeholder="Nhập học kỳ">
            <br>
            <input type="text" name="department" placeholder="Nhập khoa">
            <br>
            <button type="submit">Submit</button>
        </form>
        <table>
            <caption>Danh sách các môn học</caption>

            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên môn học</th>
                    <th>Loại môn học</th>
                    <th>Học kỳ</th>
                    <th>Khoa</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% courses.forEach(item  => { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.course_type %></td>
                    <td><%= item.semester %></td>
                    <td><%= item.department %></td>
                    <td>
                        <a href="/edit/<%= item.id %>">Edit</a>
                        <a href="/delete/<%= item.id %>">Delete</a>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>